body {
  color: #878787;
  margin: 0;
}

h1 {
  font-size: 90px;
  color: #fff;
}

h2 {
  font-size: 53px;
}

h3 {
  font-size: 20px;
  color: #48525c;
}

.main-header {
  background-color: orange;
}

.title {
  color: #fff;
  font-size: 26px;
}

.primary-content {
  text-align: center;
}

.t-border {
  border-top: 2px solid lightgray;
}

#main-footer {
  /* make some space between the footer and the rest of the content */
  padding-top: 60px;
  padding-bottom: 60px;
  /* add bottom border to the footer */
  border-bottom: solid 10px orange;
}

a:link {
  color: orange;
}

a:visited {
  color: lightblue;
}

a:hover {
  color: forestgreen;
}

a:active {
  color: lightcoral;
}

:focus {
  color: #fff;
  background-color: orange;
}